<!-- Banner Suction -->
<div class="banner">
  <div class="overlay-background">
    <div class="container-floud inner-content">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 text-right hidden-xs hidden-sm">
            <div class="gearcontainer">
              <div class="gearbox">
                <div class="overlay"></div>
                <div class="gear one">
                  <div class="gear-inner">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="gear two">
                  <div class="gear-inner">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="gear three">
                  <div class="gear-inner">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="gear four large">
                  <div class="gear-inner">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <h1 class="h2"><strong *ngIf="settings.title">{{settings.title}}</strong></h1>
            <h3>{{settings.meta_description}}</h3>
            <p class="lead typing"></p>
          </div>
        </div>
      </div>
      <img *ngIf="settings.banner_img" src="{{baseUrl}}{{settings.banner_img}}">
    </div>

  </div>
</div>
<!-- Banner Suction -->
