<div class="clearfix"></div>
<div class="footer text-center">
  <ul class="list-unstyled" *ngIf="sharedData.settings">
    <a *ngIf="sharedData.settings.facebook" target="_blank" href="{{sharedData.settings.facebook}}"><li><i class="fa fa-facebook"></i></li></a>
    <a *ngIf="sharedData.settings.youtube" target="_blank" href="{{sharedData.settings.youtube}}"><li><i class="fa fa-youtube"></i></li></a>
    <a *ngIf="sharedData.settings.googleplus" target="_blank" href="{{sharedData.settings.googleplus}}"><li><i class="fa fa-google-plus"></i></li></a>
    <a *ngIf="sharedData.settings.twitter" target="_blank" href="{{sharedData.settings.twitter}}"><li><i class="fa fa-twitter"></i></li></a>
  </ul>
  <strong class="padding-top">GEER &copy; 2017 | <a class="X-REF" target="_blank" href="https://thexref.herokuapp.com">X-REF </a>Co.</strong> all right reserved.
  <div class="clearfix"></div>
</div>
