<!-- <app-carousel></app-carousel> -->


<app-title [title]="headTitle"></app-title>

<!-- Body of title Section -->
<div class="col-xs-12">
  <section class="bodyOfSection">
    <div class="col-md-8">

      <div *ngIf="isDataLoaded">
        <div *ngFor="let artical of newArticals;" class="item item-bg-color padding-top padding-bottom margin-bottom">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <div class="col-md-2 text-center">
                <!-- Start Posts-->
                <div class="span2">
                  <a [routerLink]="['', 'artical' , artical.id]" class="thumbnail">
                    <img [src]="artical.image ? backendUrl + artical.image : defaultImg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-10">

                <div class="blogCaption">
                  <div class="span6">
                    <h3>
                      <strong>
                        <a [routerLink]="['artical', artical.id]">{{artical.title}}</a>
                      </strong>
                    </h3>

                    <p class="lead padding-top" style="margin-bottom:0px; font-size: 16px;">
                      {{artical.artical | parseUri | trim: 150}}
                      <span class="h3"></span>
                    </p>
                    <br>

                    <p>
                      <a class="btn btn-primary pull-right" [routerLink]="['','artical', artical.id]">Read more</a>
                    </p>
                  </div>
                  <div class="span8">
                    <p>
                      <i class="fa fa-user">&nbsp;</i> by
                      <a href="#"> {{artical.author_name}}</a> |
                      <i class="fa fa-comment"></i>
                      <a href="#"> {{'No comments'}}</a> |
                      <i class=" fa fa-calendar">&nbsp;&nbsp;</i>{{artical.date | date: 'dd-MMM-yyyy'}} |
                      <i class="fa fa-list-alt"></i> Tags:
                      <a [routerLink]="['','category', artical.category]">
                        <span class="label label-info">{{artical.category_name}}</span>
                      </a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

    <!-- <app-lastcommants></app-lastcommants> -->
    <div class="clearfix"></div>
  </section>
</div>
<div class="clearfix"></div>
