<app-breadcrumb></app-breadcrumb>
<app-title *ngIf="toShow" [title]="postData[0].po_title"></app-title>
<div *ngIf="toShow" class="articalbodymap col-xs-12">
  <section class="articalbodymap bodyOfSection">
    <div class="articalbodymap col-xs-12">
      <img src="{{url}}{{postData[0].po_image}}" width="100%"/>

      <div class="item-bg-color padding-all">
        <i class="fa fa-user"></i> by: <a href="#"><strong>{{postData[0].us_username}}</strong></a>

        <div class="pull-right">
          <i class="fa fa-clock-o"></i> at: <a class="#"><strong> {{postData[0].po_post_date}}</strong></a>
        </div>
      </div>
      <div class="articalbody padding-top" [innerHTML]="postData[0].po_post"></div>
    </div>
    <div class="clearfix"></div>
  </section>
</div>
<!-- <app-comments></app-comments> -->
<div class="clearfix"></div>