<div class="panel panel-info" *ngIf="isDataLoaded">
  <div class="panel-heading"><b>All categories</b></div>
  <div class="panel-body">
    <!-- <div class="col-xs-12"> -->
      <table class="table table-striped">
        <thead style="background: #EEE;">
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Date</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody class="post-body">
          <tr *ngFor="let artical of articals | paginate: opt; let i = index">
            <td>{{i + 1}}</td>
            <td><img style="width: 80px; border-radius: 10px;" class="img-thumbnail" alt="test2" src="{{artical.image ? backendUrl + artical.image : defaultImg}}"></td>
            <td>{{artical.title}}</td>
            <td>{{artical.category_name}}</td>
            <td>{{artical.author_name}}</td>
            <td>{{artical.date | date: 'dd-MMM-yyyy'}}</td>
            <td>
              <a type="button" (click)="changeArticalStatus($event, artical, i)" style="display: block" [class]="artical.status == 'published' ? 'btn btn-success' : 'btn btn-info'">{{artical.status}}</a>
              
              <a type="button" href="../post.php?cat=7&amp;id=11" style="display: block" class="btn btn-primary" target="_blank">View</a>
              <a type="button" (click)="editeArticalIndex(i)" style="display: block" class="btn btn-warning">Edite</a>
              <a type="button" (click)="deleteArticalIndex(i)" style="display: block" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->

    <div class="pagination">
        <pagination-controls (pageChange)="goTo($event)" ></pagination-controls> 
    </div>

  </div>
</div>